* {
        margin: 0;
        padding: 0;
        cursor: pointer;
}
body {
        background: linear-gradient(#141e30,#243b55);
        height: 100vh;
}
nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        font-family: sans-serif;
        padding: 15px;
        background: linear-gradient(#808080,#3fada8);
}
nav a {
            text-decoration: none;
            color: antiquewhite;
}

nav ul li a:hover {
        text-decoration: none;
        color: red;
}

.list {
        display: flex;
        list-style: none;
        gap: 25px;
}
#toggler, label {
         display: none;
}
label i {
        color: aliceblue;
}

@media screen and (max-width:  640px){
            .menu {
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
            }
            label {
                    display: inline-flex;
            }
            #toggler:checked~.menu{
                    max-height: 100%;
            }
            .list {
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
            }
}