*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(#24118b71 ,rgb(255, 255, 255),rgba(12, 129, 161, 0.502)) ,url(pain\ 4.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman';
}

.menu-bar {
    background: rgba(235, 240, 241, 0.502);
    text-align: center;
}   

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: grey;
    padding: 2px;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #12128d
}

.active,  .menu-bar ul li:hover {
    background: rgba(24, 100, 121, 0.692);
    border-radius: 5px;  
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover  .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgba(25, 41, 187, 0.349);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover  .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover  .sub-menu-1 ul li {
    width: 70px;
    padding: 10px;
    border-bottom: 1px dotted rgb(255, 255, 255);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover  .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-1 ul li a:hover {
    color: #b2ffff;
}

.sub-menu-2 {
    display: none;
}

.active-2:hover  .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-left: 80px;
    background: rgba(96, 79, 150, 0.849);
    text-transform: uppercase;
}

.active-2:hover  .sub-menu-2 ul li {
    width: 70px;
    padding: 10px;
    border-bottom: 1px dotted rgb(255, 255, 255);
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.active-2:hover  .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.active-2:hover  .sub-menu-1 ul li a:hover {
    color: #b2ffff;
}



#rest {
    width: 100%;
   position: absolute;
   top: 50%;
   transform:  translateY(-20%);
   text-align: center;
   align-items: center;
   color: rgba(18, 67, 109, 0.226);
}

#rest h1 {
    font-size: 70px;
   margin-top: 80px;
   text-transform: uppercase;
}

#Jones {
    align-items: center;
    justify-content: center;
    transform:  translateY(150%);
    width: 50%;
    height: 70%;
}




    
